[Unit]
BindTo=v2v-client.service
After=v2v-client.service graphical.target

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
PIDFile=/run/v2v-server.pid
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python3 /home/pi/Desktop/vehicleserver.py
StandardOutput=append:/home/pi/Desktop/v2v-server.log
StandardError=append:/home/pi/Desktop/v2v-server.err
Restart=always
RestartSec=10s

[Install]
WantedBy=v2v-client.service graphical.target
