[Unit]
BindsTo=v2v-obd2rpi.service
After=v2v-obd2rpi.service

[Service]
PIDFile=/run/v2v-client.pid
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python3 /home/pi/Desktop/vehicleclient.py
StandardOutput=append:/home/pi/Desktop/v2v-client.log
StandardError=append:/home/pi/Desktop/v2v-client.err
Restart=always
RestartSec=10s

[Install]
WantedBy=v2v-obd2rpi.service
