[Unit]
BindTo=v2v-vehicleclient.service graphical.target
After=v2v-vehicleclient.service graphical.target

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
PIDFile=/run/v2v-vehicleserver.pid
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python3 /home/pi/Desktop/v2v/vehicleserver/vehicleserver.py
StandardOutput=append:/home/pi/Desktop/v2v/lib-systemd-system/log/v2v-vehicleserver.log
StandardError=append:/home/pi/Desktop/v2v/lib-systemd-system/log/v2v-vehicleserver.err
Restart=always
RestartSec=10s

[Install]
WantedBy=v2v-vehicleclient.service graphical.target
